body {
    margin: 0;
    padding: 0;
    
}

.container {
    margin: auto;
    width: 500px;
    text-align: center;
    background: #f4f4f3;
    border-radius: 5px;
}


.top{
    background: #5D3FD3;
    color: #f4f4f3;
    padding: 10px;
}

.top h1 {
    font-size: 25px;
     padding-bottom: 10px;
}

#num-input {
    background: none;
    border: 2px solid #E6E6FA;
    color: #E6E6FA;
    font-weight: bold;
    font-size: 60px;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center; 
}

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
      margin: 0;
 }
 
input[type=number] {
 -moz-appearance: textfield;
        }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
    background: #f4f4f3;
    color: #767292;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 15px;
}

#btn:hover {
     background: #273549;
     color: #FFFFFF;
}

.units {
    padding: 5px 5px;
}

#length, #volume, #mass {
    color: #767292;
   background: #fefffe;
   margin: 15px;
   padding: 2px 5px;
}

#length-value, #volume-value, #mass-value {
    font-size: 13px;
    color: #767292;
}
